    display: none;
    position: relative;
    bottom: 30px;
    width: 228px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-weight: 500;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.521569) 1px 1px 1px;
    background: rgba(255, 255, 255, 0.498039);
