<div class="intro uppercase center">Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor. Etiam porta sem  magna mollis euismod. Praesent commodo cursus magna vel scelerisque.</div>

<div class="one-half">
  <h2>{{ 'team.who_title' | translate }}</h2>
  <p>{{ 'team.who_description' | translate }}</p>
</div>
<div class="one-half last">
  <h2>{{ 'team.how_title' | translate }}</h2>
  <p>{{ 'team.how_description' | translate }}</p>
</div><div class="clear"></div>

<h2>{{ 'team.commitment' | translate }}</h2>
<ul class="gramophone">
  <li>{{ 'team.commitment1' | translate }}</li>
  <li>{{ 'team.commitment2' | translate }}</li>
  <li>{{ 'team.commitment3' | translate }}</li>
  <li>{{ 'team.commitment4' | translate }}</li>
  <li>{{ 'team.commitment5' | translate }}</li>
</ul>
