<!-- About Us Text -->
<div class="about-us container">
  <div class="row">
    <div class="about-us-text span7">
      <h4>{{ 'team.who_title' | translate }}</h4>
      <p>{{ 'team.who_description' | translate }}</p>
      <h4>{{ 'team.how_title' | translate }}</h4>
      <p>{{ 'team.how_description' | translate }}</p>
      <h4>{{ 'team.commitment' | translate }}</h4>

      <ul class="gramophone">
        <li>{{ 'team.commitment1' | translate }}</li>
        <li>{{ 'team.commitment2' | translate }}</li>
        <li>{{ 'team.commitment3' | translate }}</li>
        <li>{{ 'team.commitment4' | translate }}</li>
        <li>{{ 'team.commitment5' | translate }}</li>
      </ul>

    </div>
    <div class="span5">
    <img src="/assets/images/employees/office.jpg" style="width: 350px; margin-top: 70px; box-shadow: 0px 0px 20px rgba(0,0,0,0.7); border: 2px solid white;">
    </div>
  </div>
</div>
