{% for destination in site.data.destinations %}
<h1>{{ destination | translate: 'name' }}</h1>
<div class="grid-wrapper">
  <ul class="items">
    {% assign activities = site.data.activities | where: 'destination', destination.key %}
    {% for activity in activities %}
    <li rel="7">
      <a href="/{{ page.locale}}/activities/{{ activity | translate: 'title' | slugify }}">
        <img src="/assets/images/team-building/thumbnails/{{ activity.photo1 }}" title="{{ activity | translate: 'title' }}" alt="{{ activity | translate: 'title' }}">
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}
