<h2>{{ 'corporative.title' | translate}}</h2>
<div class="intro">{{ 'corporative.description' | translate}}</div>

<div class="one-third">
  <div><img class="margin" alt="{{ 'corporative.informative' | translate}}" src="/assets/images/services/informative.jpg"></div>
  <h5>{{ 'corporative.informative' | translate}}</h5>
  <p>{{ 'corporative.informative_description' | translate}}</p>
</div>
<div class="one-third">
  <div><img class="margin" alt="{{ 'corporative.promotional' | translate}}" src="/assets/images/services/promotional.jpg"></div>
  <h5>{{ 'corporative.promotional' | translate}}</h5>
  <p>{{ 'corporative.promotional_description' | translate}}</p>
</div>
<div class="one-third last">
  <div><img class="margin" alt="{{ 'corporative.other' | translate}}" src="/assets/images/services/team-building.jpg"></div>
  <h5>{{ 'corporative.other' | translate}}</h5>
  <p>{{ 'corporative.other_description' | translate}}</p>
</div><div class="clear"></div>

<div class="intro">{{ 'corporative.extras' | translate}}</div>

<div class="intro">
  <ul class="gramophone">
    {% assign list = 'corporative.list' | translate %}
    {% for type in list %}
    <li>{{ type }}</li>
    {% endfor %}
  </ul>
</div>
