<h2>{{ 'corporative.how_we_work' | translate }}</h2>

<div class="intro">
  <p>{{ 'corporative.how_we_work_description' | translate }}</p>

  <div class="tab-container">

    <ul class="etabs">
      <li class="tab active in">
      <a href="#tab-concept" data-toggle="tab" class="active">{{ 'corporative.concept' | translate }}</a>
      </li>
      <li class="tab">
      <a href="#tab-prepare" data-toggle="tab">{{ 'corporative.communication' | translate }}</a>
      </li>
      <li class="tab">
      <a href="#tab-retouch" data-toggle="tab">{{ 'corporative.preparation' | translate }}</a>
      </li>
      <li class="tab">
      <a href="#tab-finalize" data-toggle="tab">{{ 'corporative.the_day' | translate }}</a>
      </li>
    </ul>

    <div id="myTabContent" class="panel-container"><div id="tab-concept" class="tab-pane fade active in" style="display: block;">
        <p>{{ 'corporative.concept_description' | translate }}</p>
      </div>
      <div id="tab-prepare" class="tab-pane fade" style="display: none;">
        <p>{{ 'corporative.communication_description1' | translate }}</p>
        <p>{{ 'corporative.communication_description2' | translate }}</p>
      </div>
      <div id="tab-retouch" class="tab-pane fade" style="display: none;">
        <p>{{ 'corporative.preparation_description1' | translate }}</p>
        <p>{{ 'corporative.preparation_description2' | translate }}</p>
      </div>
      <div id="tab-finalize" class="tab-pane fade" style="display: none;">
        <p>{{ 'corporative.the_day_description' | translate }}</p>
      </div>
    </div>
  </div>

  <script>jQuery("#myTabContent div:first , #tabs_5550b021b78ec li:first").addClass("active in");</script>
