<div class="row">
    <div class="space-70"></div>

    <div class="col-md-4 col-sm-6 margin-btm-40">
      <h4 class="heading-mini">{{ 'destinations.offer_title' | translate }}</h4>
      <p>{{ 'destinations.offer_description' | translate }}</p>
    </div>

    <div class="col-md-4 col-sm-6 margin-btm-40">
      <h4 class="heading-mini">{{ 'destinations.incentive_title' | translate }}</h4>
      <p>{{ 'destinations.incentive_description' | translate }}</p>
    </div>

    <div class="col-md-4 col-sm-6 margin-btm-40">
      <h4 class="heading-mini">{{ 'destinations.events_title' | translate }}</h4>
      <p>{{ 'destinations.events_description' | translate }}</p>
    </div>
</div>

<div class="row">
    <div class="space-70"></div>

    <div class="col-md-12 text-center">
        <h2>{{ 'destinations.process_title' | translate }}</h2>
        <h3 class="subtitle">{{ 'destinations.process_description' | translate }}</h3>
    </div>

    <div class="space-70"></div>

    {% assign steps = 'briefing brainstorm proposal followup reservation execution' | split: " " %}
    {% for step in steps %}
    {% assign steptitle = 'destinations.process.' | append: step | append: '.title' %}
    {% assign stepdesc = 'destinations.process.' | append: step | append: '.description' %}
    <div class="col-md-4 col-sm-6">
        <div class="services-box">
            <h1>{{ steptitle | translate }}</h1>
            <p>{{ stepdesc | translate }}</p>
        </div>
    </div>
    {% endfor %}

</div>
<div class="space-70"></div>
