<footer id="footer-option">
    <div class="container">
        <div class="row">
            <div class="col-md-3 margin-btm-20">
                <div class="footer-col">
                    <h3>Newsletter</h3>
                    <p class="margin-btm-20">
                        Keep up on our always evolving Future updates. Enter your e-mail and subscribe to our newsletter.
                    </p>
                    <form>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <label class="sr-only" for="subscribe-email">Email address</label>
                                    <input type="email" class="form-control" id="subscribe-email" placeholder="Enter your email">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn theme-btn-color">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!--footer col end-->
            <div class="col-md-3 margin-btm-20">
                <div class="footer-col margin-btm-20">
                    <h3>Latest tweet</h3>
                    <a href="#" class="tweet-ac hover-color">@rakesh_wd</a>
                    <div class="tweet-desc">
                        <i class="ion-social-twitter"></i>Bizwrap is right choice for your business project.its comes with new features and update in every month.
                    </div>
                    <a href="#" class="hover-color tweet-day">50 min ago</a>
                    <hr>
                </div>
                <div class="footer-col">
                    <a href="#" class="tweet-ac hover-color">@rakesh_wd</a>
                    <div class="tweet-desc">
                        <i class="ion-social-twitter"></i>Bizwrap is right choice for your business project.its comes with new features and update in every month.
                    </div>
                    <a href="#" class="hover-color tweet-day">1 day ago</a>
                </div>
            </div><!--footer col end-->
            <div class="col-md-3 margin-btm-20">
                <div class="footer-col margin-btm-20">
                    <h3>Follow us</h3>
                    <ul class=" list-inline social-btn">
                        <li><a href="https://www.facebook.com/TGVintage"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                        <li><a href="https://www.twitter.com/Green_Vintage_"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/the-green-vintage"><i class="ion-social-linkedin" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On Linkedin"></i></a></li>
                        <li><a href="https://instagram.com/thegreenvintage/#"><i class="ion-social-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On Instagram"></i></a></li>
                    </ul>
                </div>
            </div><!--footer col end-->
            <div class="col-md-3 margin-btm-20">
                <div class="footer-col">
                    <h3>{{ 'footer.contact_us' | translate }}</h3>
                    <p><a href="https://www.google.com/maps/place/Carrer+de+Casp,+79,+08013+Barcelona,+Spain" class="hover-color" target="_blank"><i class="ion-home"></i> {{ 'generic.address' | translate }} {{ 'generic.location' | translate }}</a></p>
                    <p><a href="tel:+34 679 400 576"><i class="ion-iphone"></i> (+34) 679 400 576</a></p>
                    <p><a href="tel:+34 644 282 929" class="hover-color"><i class="ion-iphone"></i> (+34) 644 282 929</a></p>
                    <p><a href="mailto:info@thegreenvintage.com" class="hover-color"><i class="ion-ios-email-outline"></i> info@thegreenvintage.com</a></p>
                </div>

            </div><!--footer col end-->
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1 footer-logo">
                    <a href="/">
                      <img src="/assets/images/logos/logo.png" alt="{{ site.title }}" style="width: 100px">
                    </a>
                </div>
                <div class="col-md-5">
                    <span>&copy; 2016 {{ site.title }} - {{ 'footer.all_rights_reserved' | translate }} - </span>
                    {% assign cookies = 'cookies' | section %}
                    <a href="{{cookies.permalink}}" class="hover-color">{{ 'cookies.title' | translate }}</a>
                </div>
                <div class="col-md-6 ">
                    <ul class="list-inline footer-nav">
                        {% assign sections = 'home destinations teambuilding team contact' | split: " " %}
                        {% for sname in sections %}
                        {% assign item = sname | section %}
                        <li>
                          <a href="{{item.permalink}}">{{ item.section | append:'.title' | translate }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer><!--#footer option end-->
