<div class="container">
    <div class="header row">
	<div class="span12">
	    <div class="navbar">
		<div class="navbar-inner">
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </a>
		    <h1>
			<a class="brand" href="/{{page.locale}}/home">The Green Vintage - a super cool design agency...</a>
		    </h1>
		    <div class="nav-collapse collapse">
		      <ul class="nav pull-right">
			<li class="{% if page.section == 'home' %}current-page{% endif %}">
			  <a href="/{{ page.locale }}/home"><i class="icon-home"></i><br />{{ 'home.title' | translate }}</a>
			</li>
			<li class="{% if page.section == 'services' %}current-page{% endif %}">
			  <a href="/{{ page.locale }}/services"><i class="icon-tasks"></i><br />{{ 'services.title' | translate }}</a>
			</li>
			<li class="{% if page.section == 'team' %}current-page{% endif %}">
			  <a href="/{{ page.locale }}/team"><i class="icon-user"></i><br />{{ 'team.title' | translate }}</a>
			</li>
			<li class="{% if page.section == 'contact' %}current-page{% endif %}">
			  <a href="/{{ page.locale }}/contact"><i class="icon-envelope-alt"></i><br />{{ 'contact.title' | translate }}</a>
			</li>
			<li class="{% if page.section == 'portfolio' %}current-page{% endif %}">
			  <a href="/{{ page.locale }}/portfolio"><i class="icon-camera"></i><br />{{ 'portfolio.title' | translate }}</a>
			</li>
			<li id="locale-switcher">
			  <a href="/{{page.section}}" class="en">English</a>
			  <a href="/es/{{page.section}}" class="es">Español</a>
			  <a href="/ca/{{page.section}}" class="ca current">Català</a>
			</li>
		      </ul>
		    </div>
		</div>
	    </div>
	</div>
    </div>
</div>

<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="span12">
        <i class="icon-{{ page.icon }} page-title-icon"></i>
        <h2>{{ page.section | append:'.title' | translate }} /</h2>
        <p>{{ page.section | append:'.subheader' | translate }}</p>
      </div>
    </div>
  </div>
</div>
