<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>The Green Vintage - {% if page.section %}{{ page.section | append:'.title' | translate }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta name="keyword" content="{{ site.keywords }}"/>
    <meta name="author" content="Ferran Basora & Azmind - http://azmind.com">

    <!-- CSS -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Droid+Sans">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/flexslider.css">
    <link rel="stylesheet" href="/assets/css/prettyPhoto.css">
    <link rel="stylesheet" href="/assets/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">

    <style>
    .flex-control-thumbs li {width: 16.666% !important; float: left; margin: 0;}  
    </style>
  
</head>
