<div class="container">
  <div class="header row">
    <div class="span12">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <h1>
            <a class="brand" href="/{{page.locale}}/home">The Green Vintage - a super cool design agency...</a>
          </h1>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              {% assign sections = 'home services team contact portfolio' | split: " " %}
              {% for sname in sections %}
              {% assign item = sname | section %}
              <li class="{% if page.section == item.section %}current-page{% endif %}">
                <a href="{{item.permalink}}"><i class="icon-{{ item.icon }}"></i><br />{{ item.section | append:'.title' | translate }}</a>
              </li>
              {% endfor %}

              <li id="locale-switcher">
              {% assign locales = 'en es ca' | split: " " %}
              {% for locale in locales %}
              {% for item in site.pages %}
              {% if page.section == item.section and locale == item.locale %}
              <a href="{{item.permalink}}" class="{{item.locale}}">{{ locale | prepend:'locales.' | translate }}</a>
              {% endif %}
              {% endfor %}
              {% endfor %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% if page.section != 'home' %}
<div class="page-title">
  <div class="container">
    <div class="row">
      <div class="span12">
        <i class="icon-{{ page.icon }} page-title-icon"></i>
        <h2>{{ page.section | append:'.title' | translate }} /</h2>
        <p>{{ page.section | append:'.subheader' | translate }}</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
