<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% if page.title %}
      {% assign pagetitle = page.title %}
    {% else%}
      {% assign pagetitle = page.section | append:'.title' | translate %}
    {% endif %}

    {% if page.excerpt %}
      {% assign pagedescripion = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
    {% else %}
      {% assign pagedescripion = 'meta.description' | translate %}
    {% endif %}

    <title>{{ pagetitle }} - {{ site.title }}</title>

    <meta name="description" content="{{ pagedescripion }}">
    <meta name="keyword" content="{{ site.keywords }}"/>
    <meta name="author" content="{{ site.title }}">
    <meta name="robots" content="index, follow">

    {% if page.section == 'home' %}
      {% assign pagetitle = site.title %}
    {% endif %}

    <!-- Open Graph -->
    <meta property="og:title" content="{{ pagetitle }}"/>
    <meta property="og:url" content="{{site.url}}{{page.permalink}}"/>
    <meta property="og:description" content="{{ pagedescripion }}"/>
    <meta property="og:locale" content="{{ site.locales[page.locale] }}"/>
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="{{site.url}}/assets/images/logos/logo-promo.png" />
    <meta property="og:logo" content="{{site.url}}/assets/images/logos/logo_green-vintage_green.png" />

    <meta property="fb:page_id" content="1407887932789187" />

    {% for locale in site.locales %}
    {% assign item = site.pages | where: 'section', page.section | where: 'locale', locale[0] | first %}
    <link rel="alternate" hreflang="{{ locale[1] }}" href="{{site.url}}{{item.permalink}}">
    {% endfor %}

    <link rel="shortcut icon" href="/favicon.ico">

    <!--bootstrap3 css-->
    <link href="/assets2/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--ion icon fonts css-->
    <link href="/assets2/icons/css/ionicons.css" rel="stylesheet">
    <!--custom css-->
    <link href="/assets2/css/style.css" rel="stylesheet" type="text/css">
    <!--google  font family-->

    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400italic' rel='stylesheet' type='text/css'>
    <!--flex slider css-->
    <link href="/assets2/css/flexslider.css" rel="stylesheet">
    <!--animated  css-->
    <link href="/assets2/css/animate.css" rel="stylesheet">
    <!--master slider-->
    <link href="/assets2/master-slider/style/masterslider.css" rel="stylesheet">
    <link href="/assets2/master-slider/skins/default/style.css" rel="stylesheet">
    <link href="/assets2/css/master-slider-custom.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
