<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>The Green Vintage - {% if page.section %}{{ page.section | append:'.title' | translate }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta name="keyword" content="{{ site.keywords }}"/>
    <meta name="author" content="Ferran Basora - Glisseo">

    <meta name="robots" content="index, follow">

    <link rel="shortcut icon" href="/favicon.ico">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" id="contact-form-7-css" href="/assets/css/styles.css" type="text/css" media="all">
    <link rel="stylesheet" id="rs-plugin-settings-css" href="/assets/css/settings.css" type="text/css" media="all">
    <link rel="stylesheet" id="tb_base_style-css" href="/assets/css/style.css" type="text/css" media="all">
    <link rel="stylesheet" id="tb_mediaquery_style-css" href="/assets/css/media-queries.css" type="text/css" media="all">
    <link rel="stylesheet" id="tb_googlefont_style-css" href="/assets/css/css" type="text/css" media="all">
    <link rel="stylesheet" id="tb_media_style-css" href="/assets/css/mediaelementplayer.min.css" type="text/css" media="all">

    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-migrate.min.js"></script>

    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
