<!-- Services -->
<div class="what-we-do container">
  <div class="row">

    {% assign services = 'services' | section %}
    <div class="service span3">
      <div class="icon-awesome">
        <i class="icon-sitemap"></i>
      </div>
      <h4>{{ 'home.meetings' | translate}}</h4>
      <p><em>{{ 'home.meetings_phrase' | translate}}</em></p>
      <a href="{{services.permalink}}">{{ 'common.readmore' | translate }}</a>
    </div>
    <div class="service span3">
      <div class="icon-awesome">
        <i class="icon-group"></i>
      </div>
      <h4>{{ 'home.teambuilding' | translate}}</h4>
      <p><em>{{ 'home.teambuilding_phrase' | translate}}</em></p>
      <a href="{{services.permalink}}">{{ 'common.readmore' | translate }}</a>
    </div>
    <div class="service span3">
      <div class="icon-awesome">
        <i class="icon-heart"></i>
      </div>
      <h4>{{ 'home.weddings' | translate}}</h4>
      <p><em>{{ 'home.weddings_phrase' | translate}}</em></p>
      <a href="{{services.permalink}}">{{ 'common.readmore' | translate }}</a>
    </div>
    <div class="service span3">
      <div class="icon-awesome">
        <i class="icon-glass"></i>
      </div>
      <h4>{{ 'home.parties' | translate}}</h4>
      <p><em>{{ 'home.parties_phrase' | translate}}</em></p>
      <a href="{{services.permalink}}">{{ 'common.readmore' | translate }}</a>
    </div>
  </div>
</div>

