<div class="space-70"></div>
<div class="container">
    <div class="row">
        <div class="space-70"></div>
        <div class="col-md-12 text-center">
            <h2>{{ 'home.customers_title' | translate}}</h2>
            <h3 class="subtitle">{{ 'home.customers_description' | translate}}</h3>
        </div>
    </div><!--row-->

    {% assign logo_groups = site.data.logos | in_groups_of: 4 %}
    {% for logo_group in logo_groups %}
    <div class="row" style="padding-top: 100px">
        {% for logo in logo_group %}
        <div class="col-md-3 text-center">
          <a href="{{ logo.url }}" target="_blank">
            <img src="{{ logo.image }}" alt="{{ logo.name }}">
          </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
