<div class="container">
    <div class="row">
        <p>{{ 'home.message' | translate}}</p>
        <p>{{ 'home.what_we_do' | translate}}</p>
        <p>{{ 'home.bring_description' | translate}}</p>
        <p>{{ 'home.bring2_description' | translate}}</p>
        <p>{{ 'home.success' | translate }}</p>
        {% assign contact = 'contact' | section %}
        <a class="button" href="{{contact.permalink}}">{{ 'home.start_now' | translate }}</a>
    </div><!--row-->
    <div class="row">
        <div class="col-md-6">
            <ul class="icon-list list-unstyled">
              {% assign list = 'home.bring_list' | translate %}
              {% for type in list %}
              <li>{{ type }}</li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="icon-list list-unstyled">
              {% assign list = 'home.bring2_list' | translate %}
              {% for type in list %}
              <li>{{ type }}</li>
              {% endfor %}
            </ul>
        </div>
    </div>
</div>
