<div class="space-70"></div>
<div class="container">
    <div class="row intro-row">
        <div class="col-md-12 text-center wow animated fadeInUp">
            <h2>{{ 'home.events_title' | translate }}</h2>
            <h3 class="subtitle">{{ 'home.events_description' | translate }}</h3>
        </div>
    </div><!--row end-->
</div><!--intro with services end-->

<div class="container">
  {% assign events = site.data.events | where: 'selected', true %}
  {% include eventslist.html events=events %}
</div><!--intro with services end-->

<div class="space-70"></div>
<div class="container">
    <div class="row intro-row">
        <div class="col-md-12 text-center wow animated fadeInUp">
            <h2>{{ 'home.activities_title' | translate }}</h2>
            <h3 class="subtitle">{{ 'home.activities_message' | translate }}</h3>
        </div>
    </div><!--row end-->
</div><!--intro with services end-->

<div class="container">
  {% assign activities = site.data.activities | where: 'selected', true %}
  {% include activitieslist.html activities=activities %}
</div><!--intro with services end-->
