<div class="space-70"></div>
<div class="container">
    <div class="row">
        <div class="space-70"></div>
        <div class="col-md-12 text-center">
            <h2>{{ 'home.customers_title' | translate}}</h2>
            <h3 class="subtitle">{{ 'home.customers_description' | translate}}</h3>
        </div>
        <div class="space-70"></div>
    </div><!--row-->

    <div class="row">
        <div class="col-md-3 text-center" style="padding-top: 40px">
          <a href="http://www.socialpoint.es/" target="_blank">
            <img src="/assets/images/customers/social-point-logo.png" alt="Social Point">
          </a>
        </div>
        <div class="col-md-2 text-center" style="padding-top: 0px">
          <a href="http://www.emaser.com/" target="_blank">
            <img src="/assets/images/customers/emaser-logo.png" alt="Emaser">
          </a>
        </div>
        <div class="col-md-2 text-center" style="padding-top: 35px">
          <a href="http://www.baochemicals.com/" target="_blank">
            <img src="/assets/images/customers/baochemicals-logo.png" alt="Bao Chemicals">
          </a>
        </div>
        <div class="col-md-2 text-center" style="padding-top: 15px">
          <a href="http://www.emergencia2000.es" target="_blank">
            <img src="/assets/images/customers/emergencia-2000-logo.png" alt="Emergencia 2000">
          </a>
        </div>
        <div class="col-md-2 text-center" style="padding-top: 30px">
          <a href="http://www.casals.tv/" target="_blank">
            <img src="/assets/images/customers/casals-logo.png" alt="Casals">
          </a>
        </div>
    </div>
</div>
<div class="space-70"></div>
