<div class="space-70"></div>
<div class="container">
    <div class="row">
        <div class="space-70"></div>
        <div class="col-md-12 text-center">
            <h2>{{ 'home.customers_title' | translate}}</h2>
            <h3 class="subtitle">{{ 'home.customers_description' | translate}}</h3>
        </div>
        <div class="space-70"></div>
    </div><!--row-->

    <div class="row">
        <div class="col-md-3 text-center">
          <img src="/assets/images/customers/baochemicals-logo.png" alt="Bao Chemicals">
        </div>
        <div class="col-md-3 text-center">
          <img src="/assets/images/customers/emergencia-2000-logo.png" alt="Emergencia 2000">
        </div>
        <div class="col-md-3 text-center">
          <img src="/assets/images/customers/emaser-logo.png" alt="Emaser">
        </div>
        <div class="col-md-3 text-center">
          <img src="/assets/images/customers/casals-logo.png" alt="Casals">
        </div>
    </div>
</div>
<div class="space-70"></div>
