<script>
  function track_brouchure (locale) {
    gtag('event', 'download', {'event_category': 'brouchure', 'event_label' : locale});
  }
</script>

<div class="space-70"></div>
<div class="container">
    <div class="row intro-row">
        <div class="col-md-12 text-center">
          {% capture brouchure_url %}/assets/files/{{ page.locale }}/The Green Vintage Events - 2021.pdf{% endcapture %}
          <a href="{{ brouchure_url | trim | uri_escape }}" download="The Green Vintage Events - 2021.pdf" onclick="javascript: track_brouchure({{ page.locale }})" class="btn btn-radius theme-btn-color">{{ 'home.download_brochure' | translate }}</a>
        </div>
    </div>
</div>
