<!-- Latest Work -->
<div class="portfolio container">
  <div class="portfolio-title">
    <h3>{{ 'home.lastest_work' | translate }}</h3>
  </div>
  <div class="row">
    <!--
        <a href="/assets/portfolio/work1.jpg" rel="prettyPhoto"><i class="icon-search"></i></a>
        <a href="portfolio.html"><i class="icon-link"></i></a>
	-->
        
    {% for project in site.data.projects %}
    <div class="work span3">
      <img src="/{{ 'assets/images/projects/' | append: project.album | walk | first}}" alt="">
      <h4>{{ project.title }}</h4>
      <p>{{ project.description }}</p>
      <div class="icon-awesome">
        <a href="/{{locale}}/services"><i class="icon-search"></i></a>
      </div>
    </div>
	{% endfor %}

  </div>
</div>

