<!-- Slider -->
<div class="slider">
  <div class="container">
    <div class="row">
      <div class="span10 offset1">
        <div class="flexslider">
          <ul class="slides">
            {% assign slider = 'assets/images/slider/' | walk %}
            {% for picture in slider %}
              <li data-thumb="{{ picture | cdn }}">
                <img src="{{ picture | cdn }}" width="958" height="539">
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

