<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "Organization",
  "name": "{{ site.title }}",
  "url": "https://www.thegreenvintage.com",
  "logo": "https://www.thegreenvintage.com/assets/img/logos/logo.png",
  "description": "{{ 'meta.description' | translate }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ 'generic.address' | translate }}",
    "addressLocality": "{{ 'generic.town' | translate }}",
    "addressRegion": "{{ 'generic.region' | translate }}",
    "postalCode": "{{ 'generic.postal' | translate }}",
    "addressCountry": "{{ 'generic.country' | translate }}"
  },
  "contactPoint": [{
    "@type": "ContactPoint",
    "telephone": "+34679400576",
    "contactType": "customer service"
  },{
    "@type": "ContactPoint",
    "telephone": "+34644282929",
    "contactType": "customer service"
  }]
}
 </script>
