<!-- Meet Our Team -->
<h3>{{ 'team.who_we_are' | translate }}</h3>

{% for employee in site.data.employees %}

<div class="one-third {% if forloop.index == site.data.employees.size %} last{% endif %}">
  <div><img class="alignnone size-medium wp-image-814" src="{{ employee.photo }}" title="{{ employee.name }}" alt="{{ employee.name }}" width="300" height="140"></div>
  <h5>{{ employee.name }} <span>{{ employee | translate: 'title' }}</span></h5>
  <p>{{ employee | translate: 'description' }}</p>

  {% if employee.email %}<p><b>Email:</b> <a href="mailto:{{ employee.email }}">{{ employee.email }}</a></p>{% endif %}
  {% if employee.telephone%}<p><b>Tel.</b> <a href="tel:{{ employee.telephone }}">{{ employee.telephone }}</a></p>{% endif %}
</div>
{% endfor %}
<div class="clear"></div>
