<div class="intro">

  <div class='one-half'>
    <p class='justify'>{{ 'team.founders' | translate }}</p>
    <p class='justify'>{{ 'team.carreer' | translate }}</p>
  </div>
  <div class='one-half last'>
    <img src="/assets/images/employees/team2.jpg" style="padding-top: 10px; width: 500px; display: inline-block">
  </div>
  <div class='clear'></div>

  <p class='justify'>{{ 'team.create_company' | translate }}</p>
  <p class='justify'>{{ 'team.consolidate' | translate }}</p>

  <p>{{ 'team.definition' | translate }}</p>
</div>
