<div class="row">
  <div class="col-md-12">
    <h4 class="heading-mini">{{ 'team.members.title' | translate }}</h4>
  </div>
</div>

<div class="row">
  {% for employee in site.data.employees %}
  <div class="col-md-3 col-sm-6 margin-btm-20">
    <div class="person-section">
      <img src="/assets/images/{{ employee.photo }}" class="img-responsive" alt="{{ employee.name }}">
      <div class="person-desc">
        <h3>{{ employee.name }}</h3>
        <h3><span>{{ employee | translate: 'skills'}}</span></h3>

        <p>
        {{ employee | translate: 'description' }}
        </p>
      </div>
    </div><!--person section end-->
  </div><!--person col end-->
  {% endfor %}
</div><!--team 4 col end-->
