<div class="zetaSlider zetaTop" id="zetaSlider">
  <div class="thumbnail-wrapper">
    <ul class="zetaThumbs clearfix">
      <li class="one-sixth">
        &nbsp;
      </li>
      <li data-id="corporative" class="item active one-third">
        {% assign item = 'portfolio-corporative' | section %}
        <a href="{{item.permalink}}" class=""><span class="more" style="display: none;"></span><img src="/assets/images/portfolio/corporative/19.jpg" alt="" class=""></a>
        <div class="text">
          <h4>{{ 'portfolio.corporative' | translate }}</h4>
          <p>{{ 'portfolio.corporative_description' | translate }}</p>
        </div>
      </li>
      <li data-id="weddings" class="item one-third">
        {% assign item = 'portfolio-weddings' | section %}
        <a href="{{item.permalink}}" class=""><span class="more"></span><img src="/assets/images/portfolio/weddings/04_005.jpg" alt="" class=""></a>
        <div class="text">
          <h4>{{ 'portfolio.weddings' | translate }}</h4>
          <p>{{ 'portfolio.weddings_description' | translate }}</p>
        </div>
      </li>
      <li class="one-sixth last">
        &nbsp;
      </li>
    </ul>
  </div>
  <div class="zetaHolder">
    <div class="zetaWrapper">
      <div class="zetaEmpty isDraggingFalse"></div>
    </div>
    <div class="zetaControls" style="display: block;"> <a class="zetaBtnClose" href="#">Close</a> <a class="zetaBtnPrev" href="#">Previous</a> <a class="zetaBtnNext" href="#">Next</a> </div>
    <div class="zetaWarning" style="display: none;">
      <div class="navigate">{{ 'generic.navigate' | translate }}</div>
      <div class="drag">{{ 'generic.dragging' | translate }}</div>
      <div class="arrow">{{ 'generic.arrows' | translate }}</div>
      <div class="keys">{{ 'generic.keyboard' | translate }}</div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery('#zetaSlider').zetaSlider({
    warningMessage:true,
    warningMessageTimeout:4000
  });
});
</script>
