<div class="portfolio portfolio-page container">
  <div class="row">
    {% for project in site.data.projects %}
    <div class="work span3">
      <img src="{{ '' | cdn }}assets/images/projects/{{project.album}}/thumb.jpg" width="270" height="130" alt="{{ project | translate: 'title'}}">
      <h4>{{ project | translate: 'title'}}</h4>
      <p>{{ project | translate: 'description'}}</p>
      <div class="icon-awesome">
        {% assign album = 'assets/images/projects/' | append: project.album | walk %}
        {% for picture in album %}
          {% assign filename = picture | split: '/' | last %}
          {% if filename != 'thumb.jpg' %}
          <a href="{{ picture | cdn }}" rel="prettyPhoto[{{project.album}}]" title="{{ project | translate: 'title'}}" class="{% if forloop.index != 1 %}hidden{% endif %}">{% if forloop.index == 1 %}<i class="icon-search"></i>{% endif %}</a>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
