<!-- Javascript -->
<script src="/assets/js/application.js"></script>

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
{% assign cookies = 'cookies' | section %}
<script type="text/javascript">
window.cookieconsent_options = {"message":"{{ 'cookies.message' | translate }}","dismiss":"{{ 'cookies.got_it' | translate }}","learnMore":"{{ 'cookies.learn_more' | translate }}","link":"{{cookies.permalink}}","theme":"dark-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
