<!-- Javascript -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/jquery-migrate.min.js"></script>
<script src="/assets/js/jquery.form.min.js"></script>
<script src="/assets/js/jquery.themepunch.tools.min.js"></script>
<script src="/assets/js/jquery.themepunch.revolution.min.js"></script>

<script src="/assets/js/ddsmoothmenu.js"></script>
<script src="/assets/js/jquery.address-1.4.min.js"></script>
<script src="/assets/js/jquery.easing.1.3.min.js"></script>
<script src="/assets/js/jquery.easytabs.js"></script>
<script src="/assets/js/jquery.fitvids.js"></script>
<script src="/assets/js/jquery.isotope.min.js"></script>
<script src="/assets/js/mediaelement-and-player.min.js"></script>
<script src="/assets/js/scripts.js"></script>
<script src="/assets/js/selectnav.js"></script>
<script src="/assets/js/zeta-slider.js"></script>

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
{% assign cookies = 'cookies' | section %}
<script type="text/javascript">
window.cookieconsent_options = {"message":"{{ 'cookies.message' | translate }}","dismiss":"{{ 'cookies.got_it' | translate }}","learnMore":"{{ 'cookies.learn_more' | translate }}","link":"{{cookies.permalink}}","theme":"dark-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
