<div class="intro uppercase center">
  <p>{{ 'teambuilding.message' | translate }}</p>
</div>

<p>{{ 'teambuilding.description_1' | translate }}</p>

<div class="one-half">
  <ul>
    {% assign list = 'teambuilding.colum_1' | translate | newline_to_br | strip_newlines %}
    {% for type in list %}
    <li>{{ type }}</li>
    {% endfor %}
  </ul>
</div>
<div class="one-half last">
  <ul>
    {% assign list = 'teambuilding.colum_2' | translate | newline_to_br | strip_newlines  %}
    {% for type in list %}
    <li>{{ type }}</li>
    {% endfor %}
  </ul>
</div>

<p>{{ 'teambuilding.description_2' | translate }}</p>

<div class="clear"></div>
