<div class="container">
    <div class="row">
        <div class="col-md-12 margin-btm-40">
          <p>{{ 'teambuilding.message' | translate }}</p>
          <p>{{ 'teambuilding.description_1' | translate }}</p>
          <p>{{ 'teambuilding.description_2' | translate }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 margin-btm-40">
            <ul class="icon-list list-unstyled">
              {% assign list = 'teambuilding.colum_1' | translate | newline_to_br | split: '<br />' %}
              {% for type in list %}
              <li>{{ type }}</li>
              {% endfor %}
            </ul>
        </div>
        <div class="col-md-6 margin-btm-40">
            <ul class="icon-list list-unstyled">
              {% assign list = 'teambuilding.colum_2' | translate | newline_to_br | split: '<br />' %}
              {% for type in list %}
              <li>{{ type }}</li>
              {% endfor %}
            </ul>
        </div>
    </div>
</div>
