<div class="one-half">
  <h4>{{ 'services.private.title' | translate }}</h4>
  <p>{{ 'services.private.description' | translate }}</p>
  <p><h5>{{ 'services.private.celebrations.title' | translate }}</h5></p>
  <ul class="gramophone">
    {% assign list = 'services.private.celebrations.list' | translate %}
    {% for type in list %}
    <li>{{ type }}</li>
    {% endfor %}
  </ul>
  <p><h5>{{ 'services.private.turistic.title' | translate }}</h5></p>
  <ul class="gramophone">
    {% assign list = 'services.private.turistic.list' | translate %}
    {% for type in list %}
    <li>{{ type }}</li>
    {% endfor %}
  </ul>
  <p><h5>{{ 'services.private.other.title' | translate }}</h5></p>
  <ul class="gramophone">
    {% assign list = 'services.private.other.list' | translate %}
    {% for type in list %}
    <li>{{ type }}</li>
    {% endfor %}
  </ul>
</div>
<div class="one-half last">
  <h4>{{ 'services.corporative.title' | translate }}</h4>
  <p>{{ 'services.corporative.description' | translate }}</p>
  <p><h5>{{ 'services.corporative.informative.title' | translate }}</h5></p>
  <ul class="gramophone">
    {% assign list = 'services.corporative.informative.list' | translate %}
    {% for type in list %}
    <li>{{ type }}</li>
    {% endfor %}
  </ul>
  <p><h5>{{ 'services.corporative.promotion.title' | translate }}</h5></p>
  <ul class="gramophone">
    {% assign list = 'services.corporative.promotion.list' | translate %}
    {% for type in list %}
    <li>{{ type }}</li>
    {% endfor %}
  </ul>
  <p><h5>{{ 'services.corporative.other.title' | translate }}</h5></p>
  <ul class="gramophone">
    {% assign list = 'services.corporative.other.list' | translate %}
    {% for type in list %}
    <li>{{ type }}</li>
    {% endfor %}
  </ul>
</div>
<div class="clear"></div>
