<div class="intro">
  <p>A The Green Vintage ens encarreguem de la coordinació, l'assessorament, la logística i la supervisió de les seves noces, per evitar qualsevol imprevist. Dissenyem un projecte personalitzat per a cadascun dels nostres clients, ja que el nostre principal objectiu és crear un moment únic.</p>

  <h1>Organització completa</h1>

  <p>Coordinació des del primer minut fins al dia de la celebració. Aquest servei inclou:</p>

  <h2>Planificació:</h2>
  <ul>
    <li>Selecció i coordinació de proveïdors, sol·licitud de pressupostos i negociació</li>
    <li>Visites a espais i/o restaurants</li>
    <li>Control i seguiment de la llista de convidats i gestió dels seus allotjaments</li>
    <li>Gestió del seatting</li>
    <li>Gestió del dia de les teves noces</li>
  </ul>

  <h2>Decoració, disseny i muntatge:</h2>
  <ul>
    <li>Disseny de les decoracions dels espais</li>
    <li>Muntatge dels elements de decoració</li>
    <li>Disseny floral de tot l’esdeveniment</li>
    <li>Recerca de proveïdors d’invitacions, photocalls, cartells, dissenyadors de logotips, etc.</li>
  </ul>

  <h2>Organització del dia de les teves noces</h2>

  <p>En aquest cas, vosaltres us encarregaríeu de la gestió dels contractes de proveïdors i la comunicació al llarg del procés de planificació, però sempre romandrem disponibles per respondre preguntes i donar consells.</p>
  <p>Un mes abans de les noces, tornaríem a treballar conjuntament per organitzar els últiims detalls i acabar de concretar tota la informació que ens proporcioneu, amb els diferents proveïdors perquè els dies previs pugueu estar relaxats.</p>

  The Green Vintage coordinarà:
  <ul>
    <li>Recepció dels convidats i atendre les seves necessitats</li>
    <li>Gestió del timing (cerimònia, entrada dels nuvis, entrega de regals, brindis, entrada del pastís, músiques, ball nupcial)</li>
    <li>Control del seatting</li>
    <li>Gestió dels proveïdors externs (càterings, fotògrafs, vídeo, grups musicals, DJ’s, animació infantil)</li>
    <li>Supervisar les diverses decoracions florals, mobiliari, decoracions extres i els seus muntatges</li>
  </ul>
</div>

<div style="text-align: center;">
<script type="text/javascript" src="http://cdn1.bodas.net/_js/wp-rated.js?v=4"></script>
<div id="wp-rated" style="display: inline-block;">
    <a href="http://www.bodas.net/organizacion-bodas/the-green-vintage--e55528/opiniones" title="Recomendado en bodas.net"><img alt="Recomendado en bodas.net" id="wp-rated-img" src="http://cdn1.bodas.net/img/badges/2015/badge-simple_es_ES.jpg"/></a>
</div>
<script>wpShowRatedv2('55528');</script>

<a href="http://www.bodamas.com/empresas/ideas-para-bodas/wedding-planner/barcelona/los-pequenos-momentos-son-los-que-te-emocionan/" style="display: inline-block; margin: 25px 50px;"><img src="http://www.bodamas.com/_v2/img/logo_superior.png" alt="bodamas"></a>
</div>
