<div class="intro">

  <div class="tab-container">

    <ul class="etabs">
      <li class="tab active in">
      <a href="#tab-objectives" data-toggle="tab" class="active">{{ 'private.objectives' | translate }}</a>
      </li>
      <li class="tab">
      <a href="#tab-management" data-toggle="tab">{{ 'private.management' | translate }}</a>
      </li>
      <li class="tab">
      <a href="#tab-the_day" data-toggle="tab">{{ 'private.the_day' | translate }}</a>
      </li>
      <li class="tab">
      <a href="#tab-design" data-toggle="tab">{{ 'private.design' | translate }}</a>
      </li>
    </ul>

    <div class="panel-container">
      <div id="tab-objectives" class="tab-pane fade active in" style="display: block;">
        <p>{{ 'private.objectives_description' | translate }}</p>
      </div>

      <div id="tab-management" class="tab-pane fade" style="display: none;">
        <p>{{ 'private.management_description' | translate }}</p>
        <p>{{ 'private.the_day_description' | translate }}</p>
        <ul>
          {% assign list = 'private.management_list' | translate %}
          {% for type in list %}
          <li>{{ type }}</li>
          {% endfor %}
        </ul>
      </div>

      <div id="tab-the_day" class="tab-pane fade" style="display: none;">
        <p>{{ 'private.the_day_description' | translate }}</p>
      </div>

      <div id="tab-design" class="tab-pane fade" style="display: none;">
        <p>{{ 'private.design_description1' | translate }}</p>
        <p>{{ 'private.design_description2' | translate }}</p>
      </div>
    </div>
  </div>
</div>
