---
layout: default
section: activity
---

<div class="space-70"></div>
<div class="container portfolio-details" style="width: 65vw !important">
    <div class="row">
        <div class="col-md-12 margin-btm-40">
            <div class="flexslider" style="width: 800px; overflow: hidden">
                <ul class="slides">
                    {% if page.activity.photo1 %}
                    <li><img src="{{ page.activity.photo1 }}" alt="" class="img-responsive"></li>
                    {% endif %}

                    {% if page.activity.photo2 %}
                    <li><img src="{{ page.activity.photo2 }}" alt="" class="img-responsive"></li>
                    {% endif %}

                    {% if page.activity.photo3 %}
                    <li><img src="{{ page.activity.photo3 }}" alt="" class="img-responsive"></li>
                    {% endif %}
                </ul>
            </div><!--flex slider-->
        </div>
        <div class="col-md-12 portfolio-single-slide margin-btm-40">
            <div class="portfolio-single-desc">
                <h3>{{ page.activity | field: 'title' }}</h3>
                {{ page.activity | field: 'description' | markdownify }}
                {% assign included = page.activity | field: 'included' | newline_to_br | split: '<br />' %}
                {% assign included_size = included | size %}

                {% if included_size > 0 %}
                  <div class="space-40"></div>
                  <strong>{{ 'activities.included' | translate }}:</strong>
                  <div class="space-10"></div>
                  <ul>
                    {% for item in included %}
                    <li>
                      {{ item }}
                    </li>
                    {% endfor %}
                  </ul>
                {% endif %}

                {% assign not_included = page.activity | field: 'not_included' | newline_to_br | split: '<br />' %}
                {% assign not_included_size = not_included | size %}

                {% if not_included_size > 0 %}
                  <div class="space-20"></div>
                  <strong>{{ 'activities.not_included' | translate }}:</strong>
                  <div class="space-10"></div>
                  <ul>
                    {% for item in not_included %}
                    <li>
                      {{ item }}
                    </li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div><!--portfolio detail-->
        </div>
    </div>
</div><!--portfolio single container end-->

{% include json-ld-product.html %}
