---
layout: page
section: destination
---

<div class="space-70"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>{{ page.destination | translate: 'title' }}</h2>
            <h3 class="subtitle">{{ page.destination | translate: 'intro' }}</h3>
        </div>
        <div class="space-40"></div>
        <div class="col-md-6 col-sm-6 margin-btm-40">
          <iframe width="560" height="315" src="{{ page.destination.video }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-6 col-sm-6 margin-btm-40">
          {{ page.destination | translate: 'description' | newline_to_br | strip_newlines }}
        </div>
    </div>
    <div class="space-70"></div>
    <div class="row">
        <div class="space-70"></div>
        <div class="col-md-12 text-center">
            <h2>{{ page.destination | translate: 'venues_title' }}</h2>
            <h3 class="subtitle">{{ page.destination | translate: 'venues_description' }}</h3>
        </div>
        <div class="space-70"></div>
    </div><!--row-->
    <div class="row">
        <div class="col-md-12 margin-btm-40">
            <div class="flexslider" style="height: 600px; overflow: hidden">
                <ul class="slides">

                  {% assign album = 'assets/images/destinations/' | append: page.destination.key | walk %}

                  {% for picture in album %}
                    <li>
                      <img src="/{{ picture }}" alt="" class="img-responsive">
                    </li>
                  {% endfor %}
                </ul>
            </div><!--flex slider-->
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="space-70"></div>
        <div class="col-md-12">
            {% assign contact = 'contact' | section %}
            <a class="button" href="{{contact.permalink}}">{{ page.destination | translate: 'venue_start' }}</a>
        </div>
        <div class="space-70"></div>
    </div><!--row-->
    <div class="row">
        <div class="space-70"></div>
        <div class="col-md-12 text-center">
            <h2>{{ page.destination | translate: 'activities_start' }}</h2>
            <h3 class="subtitle">{{ page.destination | translate: 'activities_description' }}</h3>
        </div>
        <div class="space-70"></div>
    </div><!--row-->


    <div class="row">
        <div class="space-70"></div>
        <div class="col-md-12 text-center">
            <h2>{{ page.destination | translate: 'activities_title' }}</h2>
            <h3 class="subtitle">{{ page.destination | translate: 'activities_description' }}</h3>
        </div>
        <div class="space-70"></div>
    </div><!--row-->

    <div class="row">
        {% assign related_activities = site.data.activities | where: 'destination', page.destination.key | where: 'selected', 'yes' %}
        {% for related_activity in related_activities %}
        <div class=" mix design col-md-4 col-sm-6 margin-btm-40">
            <div class="portfolio-sec">
                <div class="portfolio-thumnail">
                    <a href="/{{ page.locale}}/activities/{{ related_activity | translate: 'title' | slugify }}">
                        <img class="img-responsive" src="/assets/images/team-building/thumbnails/{{ related_activity.photo1 }}" title="{{ related_activity | translate: 'title' }}" alt="{{ related_activity | translate: 'title' }}">
                    </a>
                </div>
                <div class="portfolio-desc text-center">
                    <h4 class="portfolio-post-title">{{ related_activity | translate: 'title' }}</h4>
                    <h4><a href="/{{ page.locale}}/activities/{{ related_activity | translate: 'title' | slugify }}" class="btn theme-btn-default btn-lg">{{ 'generic.more_info' | translate }}</a></h4>
                </div>
            </div>
        </div><!--portfolio item -->
        {% endfor %}
    </div><!--grid-->

    <div class="space-70"></div>
</div><!--portfolio single container end-->
