---
layout: page
---
<div class="space-70"></div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="blog-post-section">
        <div class="blog-post-img">
          <img src="/assets/images/blog/{{ page.image }}" class="img-responsive" alt="">
        </div>
        <div class="blog-post-header">
          <h3><a href="" class="hover-color">{{ page.title }}</a></h3>
        </div>
        <div class="blog-post-info">
          <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        </div>
        <div class="blog-post-detail">
          {{ content }}
        </div>

      </div><!--blog post section end-->

    </div><!--blog content--> 
    <div class="col-md-4">
      <div class="sidebar-box">
        {% include recentposts.html %}
      </div>
      <div class="clearfix"></div>
      <hr>
      <div class="sidebar-box">
        {% include sharepost.html %}
      </div><hr>
    </div><!--sideabr blog end -->
  </div>

</div>
